@media(max-width:1306px) {
    .contactHeading{
        top:-8rem;
    }
}
/* Portrait tablet and small desktops */
@media (max-width: 940px){
   .wrapper{
       width:90%;
   }
   // INDEX PAGE  for 940px styling starts here
    .heading{
        h1{    
            width:100%;
            padding-top:22%;
            margin:4% 13%;
        }
    }
    h1{
        font-size:7.5rem;
    }
    h2{
        font-size:4.2rem;
        line-height:50px;
    }
    h3{
        font-size:3rem;
        line-height:50px;
    }
    h4{
        font-size:2.1rem;
        line-height: 44px;
    }
    p, li, input, textarea{
        font-size:1.8rem;
        letter-spacing: 0.5px;
    }
    .findOutMoreButton a,
    .readMoreButton a,
    input[type="submit"]{
        font-size: 1.8rem;
        padding:5px 13px;
    }
    header .navigation .navigationList{
       width:50%;  
    }
    .navigationList li{
        padding-right:1.8rem;
    }
    .rightOverlappingImage{
       display: none;
    }
    .newDestinations{
        padding:10% 0;
        .firstLists{
            display: block;
            .listItems{
                width:100%;
                padding-bottom:3%;
            }
    }
}
.iconContainer{
    width:100px;
    height:40px;
    margin-top:1%;
    margin-right:2%;
}
.ourProgramMainContainer{
    padding:2% 0;
    .ourProgramContainer{
        width:48%;
    }
}
.leftImage{
    top:-4rem;
}
.rightImage{
    bottom:-2rem;
}
.leftDescription{
    padding:19% 0 0 18%;
}
.winTripDescription{
    width:56%;
    margin-left:3%;
}
//BLOG page styling for 940px starts here//
.blogHeader{
    background-size:cover;
    background-position: center;
}
.blogSideImg{
    left:-3rem;
}
.blogSideWrittenContainer{
    padding:2% 10% 4%;
}
.blogPostContainer{
    right:-2.15rem;
}
.commentsText{
    width:75%;
    margin-left: 5%;
}

//Contact Page styling for 940px starts
.contactHeading{
    top:0rem;
}
.contactMainContainer{
    .contactMain{
        .formSection{
            top:-7rem;
            right:14rem;
        }
    }
    
}
.leftSection{
    margin:0 38% 2%;
}
   
}//small desktops 940px styling ends here//

/* Landscape phone to portrait tablet */
@media (max-width: 768px){
    //Index page styling starts here//
    h1{
        font-size:6rem;
    }
    h2{
        font-size:4rem;
        line-height:48px;
    }
    h3{
        font-size:2.8rem;
        line-height:48px;
    }
    h4{
        font-size:2rem;
        line-height: 44px;
    }
    p, li, input, textarea{
        font-size:1.6rem;
        letter-spacing: 0.5px;
    }
    .findOutMoreButton a,
    .readMoreButton a,
    button{
        font-size: 1.7rem;
        padding:5px 13px;
    }
    header{
        .navigation{
            .navigationList{
                width:58%;
            }
        }
    }
    .ourProgramMainContainer{
        display:block;
        .ourProgramContainer{
            width:100%;               
        }
    }
    .leftDescription,
    .rightDescription{
        align-items: center;
        padding:5% 10%;
    }
    .leftImage img, .rightImage img{
        box-shadow:none;
    }
    .extraVacationContainer{
        .extraVacation{
            padding:6% 0;
        }
    }
    .winTripContainer{
        .winTrip{
            display:block;
        }
    }
    .winTripImage img{
        box-shadow:none;
    }
    .winTripDescription{
        margin:0;
        width:100%;
        h3{
            text-align:center;
        }
        .findOutMoreButton{
            text-align:center;
        }
    }
    .galleryImg{
        width:48%;
    }
    .galleryImg:nth-child(3){
        display:none;
    }
    //contact page styling for 768px starts here//
    .contactHeading{
        top:-4rem;
    }
    .contactMainContainer{
        .contactMain{
            .formSection{
                right:11rem;
                width:73%;
                top:-9rem;
            }
        }
    }
    ////BLOG PAGE STYLING STARTS HERE FOR 768px///
    .blogHeading{
        top:5%;
    }
    .blogPostImg{
        top:-11rem;
    }
    .blogPostContainer{
        right:-2.05rem;
        top:8rem;
    }
    .commentsContainer{
        margin:25% 0 0 auto;
    }
    
}//landscape phone to potrait tablet 768px ends here//

///* Landscape phones and down */
@media (max-width:480px){
    h1{
        font-size:5rem;
    }
    h2{
        font-size:3rem;
        line-height:46px;
    }
    h3{
        font-size:2.6rem;
        line-height:46px;
    }
    h4{
        font-size:1.8rem;
        line-height: 42px;
    }
    p, li, input, textarea{
        font-size:1.6rem;
        letter-spacing: 0.5px;
    }
    .findOutMoreButton a,
    .readMoreButton a,
    button{
        font-size:2rem;
        line-height: 37px;
        padding: 5px 10px;    
    }
    header{
        .navigation{
            .navigationList{
                width:100%;    
            }
        }
    }
    .heading{
        h1{
            width:100%;
            padding-top:44%;
            margin:0;
        }
    }
    .winTripContainer{
        .wrapper{
            max-width:100%;
            width:100%;
        }
        .winTripDescription{
            padding:10%;
        }
    }
    .gallery{
        .galleryImgRow{
            flex-flow:column wrap;
        }
    }
    .galleryImg{
        width:100%;
        margin-bottom: 5%;
        img{
            transition:all 0.5s;
        }
        img:hover{
            transform:scale(0.8);
        }
    }
    .galleryImg:nth-child(3){
        display:block;
    }
//Blog page styling for 420px starts here //
.blogMainContainer{
    display:block;
    aside{
        width:100%;
        margin:4% 0;
    }
    .rightSection{
        width: 90%;
    }
}
.blogSideImg{
   position:static;
    img{
        border:14px solid $yellow;
    }
}
.blogPostImg{
    position:static;
    img{
        box-shadow: none;
        border:14px solid $yellow;
    }
}
.blogPostContainer{
    position:static;
    margin-top:0;
    box-shadow:none;
    // background:$white;
    .blogPostDescription{
        h3{
            text-align: center;
        }
    }
}
.blueBold{
    letter-spacing: -0.5px;
}
.blogForm, .formSection {
    input{
        width: 100%;
    }
}
///Contact Page Styling for 420px///
.contactHeading{
    top:1rem;
}
.contactMainContainer{
    .contactMain{
        .formSection{
            top:-2.4rem;
            right:2.2rem;
            width:95%;
        }
    }
}
}//landscape phones and down 420px ends here//

// small phone styling starts
@media(max-width:320px){
    ///index page styling////
    h1{
        font-size:4rem;
    }
    h2{
        font-size:2.4rem;
        line-height:40px;
    }
    h3{
        font-size:2.2rem;
        line-height:40px;
    }
    h4{
        font-size:1.7rem;
        line-height: 40px;
    }
    p, li input, textarea{
        font-size:1.5rem;
        letter-spacing: 0.5px;
        line-height:25px;    
    }
    nav a{
        font-size:1.7rem;    
    }
    .navigationList li{
        padding-right:0.8rem;
    }
    .heading 
        h1{
            padding-top:63%;
    }
    //blog page styling starts from here///
    .blogHeader{
        height:50vw;
    }
    .blogHeading{
        top:5%;
    }
    .blogMainContainer{
        padding:1% 0% 5%;
    }
    .commentsText p{
        line-height:21px;
    }
    input{
        width:100%;
    }
    .searchForm .searchFormInputEmail{
        margin-left:0;
    }
    //contact page styling///
    .contactHeading{
        top:1.3rem;
        h1{
            font-size:3.8rem;
        }
    }
    .contactMainContainer{
        .contactMain{
            .formSection{
                top:-1.6rem;
                right:0rem;
                width:100%;
                box-shadow:none;
            }
        }
    }
    .leftSection{
        margin:0 27.2% 2%;
    }
    

}//styling ends//

